body{
    background: white;
    font-family:'Courier New', Courier, monospace
}
#pageGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1 fr;
    grid-template-rows: 2fr 1fr 3fr 1fr 2fr;
    border: black 2px solid;
}
#menu{
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    border: black 2px solid;
}
#nav{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border: black 2px solid;
}
#projTitle{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: black 2px solid;
}
#projectGrid{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    border: black 2px solid;
}
#announceTitle{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border: black 2px solid;
}
#announcementGrid{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: black 2px solid;
}
#trendingTitle{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    border: black 2px solid;
}
#trendingGrid{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    border: black 2px solid;
}