body{
    background: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
#pageGrid{
    display: grid;
    grid-template-columns: minmax(0,250px) 4fr;
    grid-template-rows: 1fr 5fr;
    border: black 2px solid;
    width: 100vw;
    height: 100vh;
}
#menu{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: black 2px solid;
    background-color: #0486d1;
    color: white;
    font-weight: bolder;
    font-size: 24px;
}
#nav{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 16px;
    border-bottom: grey 3px solid;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
}
#searchAndAccount{
    grid-row: 1 /2;
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
#search{
    display: flex;
    justify-content: center;
}
#user{
    display: flex;
    justify-content: end;
}
#accountDetails{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    padding: 20px;
}
#new, #upload, #share{
    background-color: #0486d1;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
#hello{
    grid-column: 1 / 2;
}
#new{
    grid-column: 2 / 3;
}
#upload{
    grid-column: 3 / 4;
}
#share{
    grid-column: 4 / 5;;
}
#projectGrid{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 9fr;
    border: black 2px solid;
    background-color: lightgray;
    font-size: 18px;
}
#projTitle{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    font-size: 20px;
    padding: 20px;
    align-items:baseline
}
#yourProjects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    padding: 20px;
}
.project{
    background-color: white;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}
#announceTitle{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: black 2px solid;
}
#announcementGrid{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: black 2px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 3fr 2fr 2fr 2fr 2fr 2fr;
}
#listAnnounce{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    gap: 10px;
    border: black 2px solid;
}
.announcement{
    background-color: white;
    padding: 15px;
    border: black 2px solid;
}
#trendingTitle{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    gap: 10px;
    border: black 2px solid;
}
#trendingGrid{
    grid-column: 1 / 2;
    grid-row: 5 / 9;
    border: black 2px solid;
    border-radius: 10px;
}
.trending{
    background-color: white;
    padding: 15px;
    border: black 2px solid;
}